
html, body, head {
    margin: 0;
    padding: 0;
}

@font-face {
	font-family:'BebasNeue';
	src: url(Fonts/BebasNeue.otf);
}

@font-face {
	font-family: 'FunSized';
	src: url(Fonts/FunSized.ttf);
}

#sidebar {
	height: 100%;
	width: 250px;
	position: fixed;
	display: inline-block;
	left: 0px;
	top: 0px;
	font-family: BebasNeue;
	font-size: 120%;
	text-align: center;
	margin:0px;
	padding-top: 0px;
	box-shadow: 5px 0px 5px #dcdcdc;
	/*background-color: #F5F5F5;*/
}

#profilePic {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin-top: 25px;
	margin-bottom: 5px;
}

#ContactInfo {
	width: 250px;
	margin-top:5px;
	margin-bottom: 50px;
}

#ContactInfo h1 {
	display:block;
	margin: 0;
}

#ContactInfo h5 {
	margin: 0;
	font-weight: 100;
}

#menu {
	float:center;
	width: 250px;
}

#menu ul {
    list-style-type: none;
}

#menu ul li h3{
    font-weight: 100;
    padding: 11px 0px 11px 0px;
    margin:0px;
    float: center;
}

.menuItem img {
	width:50px;
	height:50px;
	float: left;
}


#contactMe {
	width:250px;
	position:absolute;
	bottom:0;
	background-color: #FF5050;
	color:#FFFFFF;
}

#contactMe h2 {
	padding: 0px;
	margin: 0px;
}

#mainContent{
	font-family: Arial;
	margin-left:250px;
}

#frontPage{
	background-color: #F5F5F5;
	padding: 40px;
}

#frontPage img{
	max-width: 100%;
    height: auto;
    width: auto;
}

#AboutMe {
	padding: 20px;
}

#MyProjects {
	padding: 20px;
}

#Experiences {
	padding: 20px;
}

